<!DOCTYPE html lang="en">
<!--[if lt IE 7]>      <html lang="fr" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="fr"class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="fr" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="fr" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Charlotte Tordeur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Charlotte Tordeur, community Management, gestion culturelle, communication, copywriting, entrepreneuriat bruxellois, ULB, Saint-louis,Content Management,html5,css3,Social Marketing">
    <meta name="description" content="Je suis Charlotte Tordeur, jeune diplôm&eacute;e motiv&eacute;e par la gestion culturelle, la communication, le copywriting, le community management et l'entrepreneuriat bruxellois!">
    <meta name="author" content="Charlotte Tordeur">
    <link rel="author" href="https://plus.google.com/+CharlotteTordeurBe"/>
    <link rel="publisher" href="https://plus.google.com/+CharlotteTordeurBe" />
    <meta property="og:title" content="Charlotte Tordeur"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://www.charlottetordeur.be"/>
    <meta property="og:image" content="https://www.charlottetordeur.be/img/cha.jpg"/>
    <meta property="og:description" content="Je suis Charlotte Tordeur, jeune diplôm&eacute;e motiv&eacute;e par la gestion culturelle, la communication, le copywriting, le community management et l'entrepreneuriat bruxellois!"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@chammalloow">
    <meta name="twitter:url" content="https://www.charlottetordeur.be">
    <meta name="twitter:title" content="Charlotte Tordeur">
    <meta name="twitter:description" content="Je suis Charlotte Tordeur, jeune diplôm&eacute;e motiv&eacute;e par la gestion culturelle, la communication, le copywriting, le community management et l'entrepreneuriat bruxellois">
    <meta name="twitter:image" content="https://www.charlottetordeur.be/img/cha.jpg">
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/min.css">
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700%7cOpen+Sans:100,200,300,400,700' rel='stylesheet' type='text/css'>
    <script src="./js/modernizr.js"></script>
</head>
<body>
    <!--Preloader-->
    <div id="preloader">
        <div id="spinner_container">
            <div class="company">
                <div class="border">Charlotte Tordeur <img src="img/assets/spinner.gif" alt="" /></div>
            </div>
        </div>
    </div>
    <!--<nav class="navbar navbar-custom navbar-fixed-top static-background" role="navigation">-->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="company">
                    <div class="border">Charlotte Tordeur</div>
                </div>
            </div>
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/en" class="click-en">English Version</a></li>
                    <li><a href="#welcome">Bienvenue</a></li>
                    <li><a href="#cv">Curriculum</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#awards">Certifications</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--main body-->
    <section id="head">
        <div class="container">
            <div class="row">
                <div class="hero" data-start="top:0px;opacity:1" data-top-bottom="top:500px;opacity:0">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h1>Charlotte Tordeur</h1>
                        <div id="carousel-head" class="carousel slide carousel-fade">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <h3>Gestion Culturelle</h3>
                                </div>
                                <div class="item">
                                    <h3>Community manager</h3>
                                </div>
                                <div class="item">
                                    <h3>Communication</h3>
                                </div>
                                <div class="item">
                                    <h3>Copywriter</h3>
                                </div>
                                <div class="item">
                                    <h3>Aide à la création d'entreprises</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="slides">
            <div class="slides-container">
                <img src="img/bg-head-1.jpg" alt="Gestion Culturelle" />
                <img src="img/bg-head-2.jpg" alt="Community manager" />
                <img src="img/bg-head-3.jpg" alt="Communication" />
                <img src="img/bg-head-4.jpg" alt="Copywriter" />
                <img src="img/bg-head-5.jpg" alt="Aide à la création d'entreprises" />
            </div>
        </div>
    </section>
    <section id="welcome">
        <img alt="" class="thumb-middle" src="img/cha.jpg">
        <div class="container">
            <div class="row">
                <div class="hero col-sm-6 col-sm-offset-3">
                    <h2>Charlotte Tordeur </h2>
                    <p>Communication. Gestion Culturelle.<br/> Community manager. Copywriter.<br/> Aide &agrave; la cr&eacute;ation d'entreprises.</p>
                    <div class="space"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="introduction-table">
                        <div class="row">
                            <div class="col-sm-3">
                                <h4>Qualifi&eacute;e</h4>
                            </div>
                            <div class="col-sm-9">
                                <p>Communication. Gestion Culturelle. Community manager. Copywriter. Aide &agrave; la cr&eacute;ation d'entreprises.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <h4>Langues</h4>
                            </div>
                            <div class="col-sm-8">
                                <div class="skillbar clearfix " data-percent="100%">
                                    <div class="skillbar-title" style="background:#2F3238;">
                                        <span>Français</span>
                                    </div>
                                    <div class="skillbar-bar" style="width: 100%; background: rgb(47, 50, 56);"></div>
                                </div> <!-- End Skill Bar -->
                                <div class="skillbar clearfix " data-percent="70%">
                                    <div class="skillbar-title" style="background:#2F3238;">
                                        <span>Anglais</span>
                                    </div>
                                    <div class="skillbar-bar" style="width: 70%; background: rgb(47, 50, 56);"></div>
                                </div> <!-- End Skill Bar -->
                                <div class="skillbar clearfix " data-percent="65%">
                                    <div class="skillbar-title" style="background:#2F3238;">
                                        <span>Italien</span>
                                    </div>
                                    <div class="skillbar-bar" style="width: 65%; background: rgb(47, 50, 56);"></div>
                                </div> <!-- End Skill Bar -->
                                <div class="skillbar clearfix " data-percent="55%">
                                    <div class="skillbar-title" style="background:#2F3238;">
                                        <span>N&eacute;erlandais</span>
                                    </div>
                                    <div class="skillbar-bar" style="width: 55%; background: rgb(47, 50, 56);"></div>
                                </div> <!-- End Skill Bar -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <h4>Sociale</h4>
                            </div>
                            <div class="col-sm-9">
                                <a href="https://www.linkedin.com/in/charlottetordeur" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a>
                                <a href="https://plus.google.com/+CharlotteTordeur" target="_blank"><i class="fa fa-google-plus fa-fw"></i></a>
                                <a href="https://twitter.com/chammalloow" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
                                <a href="https://www.facebook.com/tordeur.charlotte" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <h4>Disponible</h4>
                            </div>
                            <div class="col-sm-9">
                                <a href="#" onclick="$.scrollTo( '#contact', 800, {easing:'easeOutExpo', axis:'y'} );">charlottetordeur@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <p>Bonjour, je m’appelle Charlotte, j’ai 27 ans et je vis &agrave; Bruxelles.<br/><br/>Je suis une touche-&agrave;-tout curieuse et passionn&eacute;e par la <strong>communication culturelle</strong>, <strong>la gestion de projets</strong>, la <strong>gestion de la relation client</strong> et <strong>l'entrepreneuriat bruxellois</strong>.<br/>Ce site &agrave; pour but de vous fournir l’essentiel des informations sur mon parcours. Si ce que vous lisez vous int&eacute;resse, <a href="#" onclick="$.scrollTo( '#contact', 800, {easing:'easeOutExpo', axis:'y'} );">n’h&eacute;sitez pas &agrave; me contacter</a> !<br/>Merci pour votre visite.<br/><br/>Bien &agrave; vous, <br/>Charlotte Tordeur</p>
                </div>
            </div>
        </div><!--container-->
    </section>
    <section id="cv">
        <div class="container">
            <div class="row">
                <div class="hero col-sm-6 col-sm-offset-3">
                    <h2>Curriculum Vitae</h2>
                    <p>Pour que vous sachiez o&ugrave; j'ai prouv&eacute; mes connaissances</p>
                    <div class="space"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="cv-wrapper">
                <div class="row cv">
                    <div class="col-lg-3 title">
                        <h3 class="headline-inline">EXPERIENCES</h3>
                    </div>
                    <div class="cv-entry animated" data-animation-delay="100" data-animation="fadeInRight">
                        <div class="col-lg-6 main">
                            <h4>Conseillère pour la création d'entreprises</h4>
                            <i class="fa fa-building-o"></i> impulse.brussels, d&eacute;partement infos et r&eacute;seaux, &eacute;quipe du 1819.
                            <p class="desc">J'aide les (futurs) entrepreneurs en répondant à toutes les questions qu'ils peuvent se poser en matière de susbsides et autres aides publiques, droit du travail, financement, urbanisme, les étapes de création, l'accompagnement, etc. Ceci implique aussi un travail en étroite colaboration  avec nos partenaires publics et privés. Ensemble nous contribuons au développement de l'entrepreneuriat bruxellois.</p>
                            <hr>
                        </div>
                        <div class="col-lg-3 date">
                            <p><small><i class="fa fa-calendar-o"></i> Mai 2015 - Maintenant</small></p>
                        </div>
                    </div>
                    <div class="cv-entry animated" data-animation-delay="150" data-animation="fadeInLeft">
                        <div class="col-lg-6 col-lg-offset-3 main">
                            <h4>Commerciale</h4>
                            <i class="fa fa-building-o"></i> Moulinsart & Mus&eacute;e Herg&eacute;.
                            <p class="desc">Responsable des ventes &agrave; la boutique du Mus&eacute;e Herg&eacute;.</p>
                            <hr>
                        </div>
                        <div class="col-lg-3 date">
                            <p><small><i class="fa fa-calendar-o"></i> Juin 2014 - Mai 2015</small></p>
                        </div>
                    </div>
                    <div class="cv-entry animated" data-animation-delay="200" data-animation="fadeInRight">
                        <div class="col-lg-6 col-lg-offset-3 main">
                            <h4>Service</h4>
                            <i class="fa fa-building-o"></i> Amato Gelato Cafe (Vancouver, Canada). <p> Séjour linguisitque de cinq mois.</p>
                            <hr>
                        </div>
                        <div class="col-lg-3 date">
                            <p><small><i class="fa fa-calendar-o"></i> Juin 2013 - Août 2013</small></p>
                        </div>
                    </div>
                    <div class="cv-entry animated" data-animation-delay="250" data-animation="fadeInLeft">
                        <div class="col-lg-6 col-lg-offset-3 main">
                            <h4>Etudiante</h4>
                            <i class="fa fa-building-o"></i> Abercrombie and Fitch.
                            <hr>
                        </div>
                        <div class="col-lg-3 date">
                            <p><small><i class="fa fa-calendar-o"></i> Novembre 2012 – Avril 2013</small></p>
                        </div>
                    </div>
                    <div class="cv-entry animated" data-animation-delay="300" data-animation="fadeInRight">
                        <div class="col-lg-6 col-lg-offset-3 main">
                            <h4>Etudiante</h4>
                            <i class="fa fa-building-o"></i> Studios Herg&eacute;.
                            <p class="desc">Mise en place d’un partenariat avec une seconde institution mus&eacute;ale (Mus&eacute;e Belvue) et d&eacute;veloppement global d’un jeu de soci&eacute;t&eacute; grandeur nature &agrave; vivre au sein du Mus&eacute;e Herg&eacute;.</p>
                            <hr>
                        </div>
                        <div class="col-lg-3 date">
                            <p>
                                <small><i class="fa fa-calendar-o"></i> Septembre 2012 - Octobre 2012</small>
                            </p>
                        </div>
                    </div>
                    <div class="cv-entry animated" data-animation-delay="350" data-animation="fadeInLeft">
                        <div class="col-lg-6 col-lg-offset-3 main">
                            <h4>Stage</h4>
                            <i class="fa fa-building-o"></i> Studios Herg&eacute;.
                            <p class="desc">D&eacute;velopper diff&eacute;rents projets de type p&eacute;dagogique pour le compte du Mus&eacute;e Herg&eacute;.</p>
                            <hr>
                        </div>
                        <div class="col-lg-3 date">
                            <p><small><i class="fa fa-calendar-o"></i> Novembre 2011 - Mars 2012</small></p>
                        </div>
                    </div>
                    <div class="cv-entry animated" data-animation-delay="400" data-animation="fadeInRight">
                        <div class="col-lg-6 col-lg-offset-3 main">
                            <h4>Etudiante</h4>
                            <i class="fa fa-building-o"></i> Boutique Tintin de Bruxelles.
                            <hr>
                        </div>
                        <div class="col-lg-3 date">
                            <p><small><i class="fa fa-calendar-o"></i> Septembre 2011</small></p>
                        </div>
                    </div>
                    <div class="cv-entry animated" data-animation-delay="450" data-animation="fadeInLeft">
                        <div class="col-lg-6 col-lg-offset-3 main">
                            <h4>Stage</h4>
                            <i class="fa fa-building-o"></i> Mus&eacute;e bruxellois du Moulin et de l’Alimentation.
                            <p class="desc">Assurer des visites guid&eacute;es &agrave; travers l’exposition du Mus&eacute;e et animer des ateliers culinaires.</p>
                            <hr>
                        </div>
                        <div class="col-lg-3 date">
                            <p><small><i class="fa fa-calendar-o"></i> Octobre 2010 - D&eacute;cembre 2010</small></p>
                        </div>
                    </div>
                    <div class="cv-entry animated" data-animation-delay="500" data-animation="fadeInRight">
                        <div class="col-lg-6 col-lg-offset-3 main">
                            <h4>Etudiante</h4>
                            <i class="fa fa-building-o"></i> Biblioth&egrave;que des Facult&eacute;s universitaires Saint-Louis.
                        </div>
                        <div class="col-lg-3 date">
                            <p><small><i class="fa fa-calendar-o"></i> Septembre - D&eacute;cembre 2008</small></p>
                        </div>
                    </div>
                </div>
                <div class="row cv">
                    <div class="col-lg-3 title">
                        <h3 class="headline-inline">EDUCATION</h3>
                    </div>
                    <div class="cv-entry animated" data-animation-delay="100" data-animation="fadeInLeft">
                        <div class="col-lg-6 main">
                            <h4>Master en gestion culturelle appliqu&eacute;e,</h4>
                            <i class="fa fa-building-o"></i> Universit&eacute; libre de Bruxelles <small> (distinction)</small>
                            <p class="desc">En plus des stages, formation &agrave; des mati&egrave;res telles que le marketing, la communication marketing, le contr&ocirc;le de gestion, la gestion des ressources humaines, la comptabilit&eacute;, et le droit d’auteur et droits voisins.</p>
                            <hr>
                        </div>
                        <div class="col-lg-3 date">
                            <p><small><i class="fa fa-calendar-o"></i> Gradu&eacute;e en juin 2012</small></p>
                        </div>
                    </div>
                    <div class="cv-entry animated" data-animation-delay="150" data-animation="fadeInRight">
                        <div class="col-lg-6 col-lg-offset-3 main">
                            <h4>Bachelier en philologie romane</h4>
                            <i class="fa fa-building-o"></i> Facult&eacute;s universitaires Saint-Louis <small> (distinction)</small>
                            <p class="desc">Etude approfondie de la langue française depuis ses origines &agrave; aujourd’hui. Cours de linguistique, de litt&eacute;rature, d’histoire, de philosophie, d’histoire de l’art, de langue et de culture italienne.</p>
                        </div>
                        <div class="col-lg-3 date">
                            <p><small><i class="fa fa-calendar-o"></i> Gradu&eacute;e en juin 2010</small></p>
                        </div>
                    </div>
                </div>
            </div><!--cv wrapper-->
            <p>
                <a href="./cv/Charlotte-Tordeur-CV-web-fr.pdf" class="btn btn-default btn-large" target="_blank"><i class="fa fa-download"></i> T&eacute;l&eacute;charger mon CV</a>
            </p>
        </div>
    </section>
    <section class="callToAction">
        <div class="container animated" data-animation-delay="200" data-animation="rubberBand">
            <h2>Je suis disponible pour rejoindre votre projet.</h2>
            <button class="btn btn-default btn-lg btn-toWhite"  onclick="$.scrollTo( '#contact', 800, {easing:'easeOutExpo', axis:'y'} );"><i class="fa fa-check"></i> Engagez-moi!</button>
        </div>
    </section>
        <section id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="hero col-sm-6 col-sm-offset-3">
                        <h2>Portfolio</h2>
                        <div class="space"></div>
                    </div>
                </div>
                <!--             <div class="filter text-center">
                    <a href="#" data-group="expo">Expositions</a>
                    <a href="#" data-group="communication">Communication</a>
                    <a href="#" data-group="litterature">Litt&eacute;rature</a>
                    <a href="#" data-group="all" class="current">Tout</a>
                </div> -->
            </div>
            <div class="portfolio-wrapper">
                <div class="container">
                    <div class="portfolio-close">
                        <span>close</span>
                    </div>
                    <div class="portfolio-container"></div>
                    <div class="arrow-up"></div>
                </div>
            </div>
            <div class="portfolio-grid row">
                <div class="col-sm-4" data-group="expo"><!--portfolio-content Entre ici-->
                    <div class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="img">
                                <img src="img/portfolio/impulse_brussels.png" alt="impulse.brussels Never stop asking">
                            </div>
                            <div class="info dark">
                                <h2>impulse.brussels Never stop asking</h2>
                                <p>Infos & r&eacute;seaux</p>
                                <p>Equipe du 1819</p>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <h2>impulse.brussels & le 1819 : aide &agrave; la cr&eacute;ation d'entreprises</h2>
                            <div class="row">
                                <div class="col-md-8">
                                    <img class="img-responsive" src="img/portfolio/impulse_brussels.png" alt="impulse.brussels Never stop asking" />
                                    <h5>DESCRIPTION</h5>
                                    <div class="description">
                                        <p>Mon travail consiste &agrave; informer, conseiller et r&eacute;orienter (en collaboration avec nos partenaires publics et privés) les (futurs) entrepreneurs bruxellois lorsqu'ils cherchent des réponses en mati&egrave;re de subsides et autres aides publiques, de droit du travail, de financement, d’urbanisme, de fiscalit&eacute;, o&ugrave; trouver l’accompagnement ad&eacute;quat, etc. Cette fonction implique d&egrave;s lors un travail de recherche pointilleux et de mise &agrave; jour important ainsi qu’une gestion de la relation client pouss&eacute;e.</p>
                                        <p>N'hésitez pas à visionner un reportage sur le service du 1819 r&eacute;alis&eacute; &agrave; l'occasion de ses 5 ans :<a href="http://canalz.levif.be/news/les-5-ans-du-numero-1819-19-06-15/video-normal-401497.html" target="_blank"> www.canalz.levif.be</a></p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="client">
                                        <h5>EMPLOYEUR</h5>
                                        <p>impulse.brussels - l'Agence bruxelloise pour l'entreprise</p>
                                    </div>
                                    <div class="date">
                                        <h5>DATES</h5>
                                        <p>Juin 2015 - ... </p>
                                    </div>
                                    <div class="url">
                                        <h5>URL</h5>
                                        <p><a href="http://www.abe-bao.be/fr" target="_blank">www.abe-bao.be</a> ou <a href="http://www.1819.be/fr" target="_blank">www.1819.be</a></p> 
                                    </div>
                                    <div class="tags">
                                        <h5>TAGS</h5>
                                        <p><span class="tagIcon">Cr&eacute;ation d'entreprises</span><span class="tagIcon">Communication</span><span class="tagIcon">Gestion de la relation client</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--portfolio-content et ici-->
                <div class="col-sm-4" data-group="expo"><!--portfolio-content-->
                    <div class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="img">
                                <img src="img/portfolio/moulin.jpg" alt="Moulin d'Evere Mus&eacute;e bruxellois du Moulin et de l’Alimentation">
                            </div>
                            <div class="info dark">
                                <h2>Moulin d'Evere</h2>
                                <p>Mus&eacute;e</p>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <h2>Mus&eacute;e bruxellois du Moulin et de l’Alimentation</h2>
                            <div class="row">
                                <div class="col-md-8">
                                    <img class="img-responsive" src="img/portfolio/moulin.jpg" alt="Moulin d'Evere Mus&eacute;e bruxellois du Moulin et de l’Alimentation" />
                                    <h5>DESCRIPTION</h5>
                                    <div class="description">
                                        <p>Charg&eacute;e des visites guid&eacute;es &agrave; travers le Mus&eacute;e bruxellois du Moulin et de l’Alimentation dont le th&egrave;me de l’exposition temporaire cette ann&eacute;e &eacute;tait « Breakfast Time ! Histoire du petit-d&eacute;jeuner. Ici et ailleurs. » Publics accueillis : groupes scolaires primaires et secondaires, groupes de seniors, groupes de personnes &agrave; d&eacute;ficience motrice et mentale.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="client">
                                        <h5>EMPLOYEUR</h5>
                                        <p>Mus&eacute;e bruxellois du Moulin et de l’Alimentation</p>
                                    </div>
                                    <div class="date">
                                        <h5>DATES</h5>
                                        <p>Ann&eacute;e 2010</p>
                                    </div>
                                    <div class="url">
                                        <h5>URL</h5>
                                        <p><a href="http://www.moulindevere.be" target="_blank">www.moulindevere.be</a></p>
                                    </div>
                                    <div class="tags">
                                        <h5>TAGS</h5>
                                        <p><span class="tagIcon">Exposition</span><span class="tagIcon">Visite Guid&eacute;e</span><span class="tagIcon">Animatrice d'ateliers</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--portfolio-content-->
                <div class="col-sm-4" data-group="expo"><!--portfolio-content-->
                    <div class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="img">
                                <img src="img/portfolio/tonerredebrest.jpg" alt="Mus&eacute;e Herg&eacute;" />
                            </div>
                        <div class="info dark">
                            <h2>Mus&eacute;e Herg&eacute;</h2>
                            <p>Mus&eacute;e</p>
                        </div>
                    </div>
                    <div class="portfolio-content">
                        <h2>Mus&eacute;e Herg&eacute;</h2>
                        <div class="row">
                            <div class="col-md-8">
                                <img class="img-responsive" src="img/portfolio/tonerredebrest.jpg" alt="Mus&eacute;e Herg&eacute;" />
                                <h5>DESCRIPTION</h5>
                                <div class="description">
                                    <p>Cr&eacute;ation d’un concours-parcours &agrave; vivre au sein du Mus&eacute;e Herg&eacute;. Concours destin&eacute; &agrave; un public &acirc;g&eacute; de 7 &agrave; 77 ans suivant le credo m&ecirc;me de Herg&eacute;. <br />Cr&eacute;ation d’un parcours ludique toujours destin&eacute; au 7 &agrave; 77 ans. Ce parcours reprenait les points phares des huit salles du Mus&eacute;e Herg&eacute;.<br />Partenariat avec le mus&eacute;e Belvue dans le but de cr&eacute;er un parcours "ville de Bruxelles, histoire de Belgique et vie et &oelig;uvre d’Herg&eacute;". <br />R&eacute;daction d’une &eacute;tude - destin&eacute;e au grand public - sur la ligne claire, technique propre &agrave; Herg&eacute;.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="client">
                                    <h5>EMPLOYEUR</h5>
                                    <p>Mus&eacute;e Herg&eacute;</p>
                                </div>
                                <div class="date">
                                    <h5>DATES</h5>
                                    <p>Ann&eacute;e 2010 -> Maintenant</p>
                                </div>
                                <div class="tags">
                                    <h5>TAGS</h5>
                                    <p><span class="tagIcon">Exposition</span><span class="tagIcon">Cr&eacute;ation de visites guid&eacute;es</span><span class="tagIcon">Responsable de vente &agrave; la librairie</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--portfolio-content-->
            <div class="col-sm-4" data-group="expo"><!--portfolio-content-->
                <div class="portfolio-link">
                    <div class="portfolio-hover">
                        <div class="img">
                            <img src="img/portfolio/memoire.jpg" alt="M&eacute;moire ULB">
                        </div>
                        <div class="info dark">
                            <h2>De l’acc&egrave;s aux mus&eacute;es pour les enfants &agrave; mobilit&eacute; r&eacute;duite.</h2>
                            <p>M&eacute;moire</p>
                        </div>
                    </div>
                    <div class="portfolio-content">
                        <h2>M&eacute;moire dans le cadre d'un master &agrave; l'ULB</h2>
                        <div class="row">
                            <div class="col-md-8">
                                <img class="img-responsive" src="img/portfolio/memoire.jpg" alt="M&eacute;moire ULB" />
                                <h5>DESCRIPTION</h5>
                                <div class="description">
                                    <p>De l’acc&egrave;s aux mus&eacute;es pour les enfants &agrave; mobilit&eacute; r&eacute;duite. Le but de cette &eacute;tude - &agrave; la fois th&eacute;orique (par l’&eacute;tude et la comparaison des sources &eacute;crites) et pratique (par l’&eacute;laboration d’un questionnaire destin&eacute; aux mus&eacute;es et &eacute;coles sp&eacute;cialis&eacute;es) - &eacute;tait de dresser le bilan des infrastructures actuelles (dont la faisabilit&eacute; des visites pour ce public), et &eacute;tudier les diff&eacute;rentes possibilit&eacute;s pour les am&eacute;liorer si n&eacute;cessaire.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="date">
                                    <h5>DATES</h5>
                                    <p>Ann&eacute;e 2011</p>
                                </div>
                                <div class="url">
                                    <h5>URL</h5>
                                    <p><a href="./memoire/Tordeur-Charlotte-De-lacces-aux-musees-pour-les-enfants-a-mobilite-reduite-web.pdf" target="_blank">Consultable ICI (14,5MB)</a></p>
                                </div>
                                <div class="tags">
                                    <h5>TAGS</h5>
                                    <p><span class="tagIcon">Ecriture</span><span class="tagIcon">Recherche</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--portfolio-content-->
        </div>
    </section>
    <section id="awards">
        <div class="container">
            <div class="row">
                <div class="hero col-sm-6 col-sm-offset-3">
                    <h2>Certifications</h2>
                    <p>J'ai d&eacute;cid&eacute; d'approfondir ces connaissances</p>
                    <div class="space"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 info-box animated" data-animation-delay="100" data-animation="fadeIn">
                    <div class="icon">
                        <i class="fa fa-code icon-effect"></i>
                    </div>
                    <div class="content">
                        <h3>HTML5 et CSS3</h3>
                        <p><a href="./certificats/Charlotte-Tordeur-OC-HTML5.pdf" target="_blank">OpenClassRoom</a>.</p>
                        <small class="text-muted">Mai 2014</small>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 info-box animated" data-animation-delay="150" data-animation="fadeIn">
                    <div class="icon">
                        <i class="fa fa-flag-o icon-effect"></i>
                    </div>
                    <div class="content">
                        <h3>N&eacute;erlandais</h3>
                        <p>CPAB & Brussels Centrum Nederlands.</p>
                        <small class="text-muted">Novembre 2013 - Avril 2015</small>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 info-box animated" data-animation-delay="200" data-animation="fadeIn">
                    <div class="icon">
                        <i class="fa fa-code-fork icon-effect"></i>
                    </div>
                    <div class="content">
                        <h3>JQuery</h3>
                        <p>CodeSchool.</p>
                        <small class="text-muted">En cours</small>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 info-box animated" data-animation-delay="250" data-animation="fadeIn">
                    <div class="icon">
                        <i class="fa fa-users icon-effect"></i>
                    </div>
                    <div class="content">
                        <h3>Community management</h3>
                        <p><a href="./certificats/Charlotte-Tordeur-OC-Community.pdf" target="_blank">OpenClassRoom</a> et <a href="./certificats/Charlotte-Tordeur-BIY-Community.pdf" target="_blank">BlogItYourself</a>.</p>
                        <small class="text-muted">Septembre 2014</small>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 info-box animated" data-animation-delay="300" data-animation="fadeIn">
                    <div class="icon">
                        <i class="fa fa-plus-square icon-effect"></i>
                    </div>
                    <div class="content">
                        <h3>Secourisme</h3>
                        <p><a href="./certificats/Charlotte-Tordeur-Fact-Secourisme.pdf" target="_blank">Fact Group</a>.</p>
                        <small class="text-muted">Octobre 2014</small>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 info-box animated" data-animation-delay="350" data-animation="fadeIn">
                    <div class="icon">
                        <i class="fa fa-thumb-tack icon-effect"></i>
                    </div>
                    <div class="content">
                        <h3>Le monde des Start-up</h3>
                        <p>OpenClassRoom.</p>
                        <small class="text-muted">En cours</small>
                    </div>
                </div>
            </div><!--row-->
        </div>
    </section>
    <section id="contact" class="no-section-padding">
        <svg preserveAspectRatio="none" viewBox="0 0 100 102" height="100" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="svgcolor-light">
            <path d="M0 0 L50 100 L100 0 Z"/>
        </svg>
        <div class="container text-center">
            <div class="row section-padding">
                <div class="hero">
                    <h2>Contactez-moi!</h2>
                </div>
                <div class="col-sm-6 col-sm-offset-3 animated" data-animation-delay="600" data-animation="fadeInRight">
                    <form class="contact-form" id="contact-form" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="inputName">Nom</label>
                            <input type="text" placeholder="Nom" name="inputName" id="inputName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="inputEmail">Adresse Email</label>
                            <input type="email" placeholder="Adresse Email" name="inputEmail" id="inputEmail" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="inputMessage">Message</label>
                            <textarea placeholder="Votre Message" name="inputMessage" rows="5" id="inputMessage" class="form-control"></textarea>
                        </div>
                        <div class="pull-right">
                            <p><button id="contact-submit" class="btn btn-default btn-submit" type="submit"><i class="fa fa-check"></i> Envoyer</button></p>
                        </div>
                        <div class="clearfix"></div>
                        <div id="contact-form-response"></div>
                    </form>
                </div>
            </div><!--row-->
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/charlottetordeur" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
                <a href="https://plus.google.com/+CharlotteTordeur" target="_blank" class="google-plus"><i class="fa fa-google-plus fa-fw"></i></a>
                <a href="https://twitter.com/chammalloow" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/tordeur.charlotte" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
            </div>
            <div class="clearfix"></div>
        </div><!--container-->
    </section>
    <footer><!--footer-->
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <p class="copy">&copy; <strong>Charlotte Tordeur</strong> 2014</p>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="./js/main.min.js"></script>
    <script type="text/javascript" src="./js/lang.js"></script>
</body>
</html>
